<app-menu></app-menu>

<!-- 

  <div class="text-layout">
  <h1>{{nombre| titlecase }}</h1>
  <h1>{{valor | number }}</h1>
</div>



<button pButton (click)="mostrarNombre()" pRipple type="button" label="Cambiar Nombre" icon="pi pi-globe"
  iconPos="right" class="p-button-help"></button>
<br>
<p-card [header]="nombre" subheader="Subtitulo">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo veritatis nisi delectus libero, consequuntur soluta,
  alias deleniti omnis dolorum ducimus quaerat assumenda! Aut necessitatibus enim error sed aliquid nam temporibus!
</p-card>

-->